@use '../varibles' as *;
@use '../media' as *;

.cart {
  padding-top: 100px;

  &__container {
    padding: 24px 16px;
    max-width: 310px;
    background-color: $white;
    border-radius: 32px;
  }

  &__header {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
  }

  &__close {
  }

  &__date-delivery {
    padding-left: 20px;
    padding-bottom: 16px;
    background-image: url('/img/delivery.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    font-size: 14px;

    @include mobile {
      font-size: 12px;
    }
  }

  &__list {
  }

  &__item {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 54px 1fr min-content;
    grid-template-areas: "image title title" "image counter price";
    gap: 8px 12px;
    border-bottom: 1px solid rgba($dark, .04);
  }

  &__img {
    grid-area: image;
  }

  &__item-title {
    grid-area: title;
  }

  &__counter {
    grid-area: counter;
  }

  &__counter-btn {
  }

  &__counter-input {
  }

  &__price {
    grid-area: price;
  }

  &__footer {
  }

  &__order-btn {
  }
}
