@use '../varibles' as *;
@use '../media' as *;

.filter {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border: 0;

    &_choices {
      gap: 64px;

      @include mobile {
        gap: 40px;
      }
    }
  }

  &__radio {
    position: absolute;
    appearance: none;
  }

  &__label {
    padding: 16px;
    padding-left: 60px;
    min-height: 72px;
    display: flex;
    align-items: center;
    border-radius: 300px;
    color: $dark;
    background: $white;
    background-position: center left 16px;
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;

    @include mobile {
      padding: 10px 12px 10px 40px;
      min-height: 40px;
      background-position: center left 12px;
      background-size: 24px;
    }

    &_flower {
      background-image: url('/img/flowers.png');
    }

    &_toys {
      background-image: url('/img/bear-toy.png');
    }

    &_postcard {
      background-image: url('/img/postcard.png');
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 3px;
  }

  &__radio:checked + &__label {
    background-color: $light-orange;
  }

  &__choices {
    position: relative;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: url('/img/arrow.svg') no-repeat center/contain;
    }
  }

  &__price {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    border: 0;
  }

  &__choices-box {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    padding: 24px;
    background-color: $white;
    border-radius: 12px;
  }

  &__input-price {
    border-radius: 32px;
    padding: 8px 16px;
    width: 110px;
    height: 40px;
    background-color: $bg;
    border: none;
  }

  &__type-list {
  }

  &__type-item {


  }

  &__type-button {
    white-space: nowrap;

    // &:focus,
    // &:hover,
    // &:active {
    //   color: $orange;
    // }
    @at-root {
      :is(:focus, :hover, :active) {
        color: $orange;
      }
    }
    
  }
}



